{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de vos commandes</h1>

    <table class="col-xs-8 col-xs-offset-2">
        <thead>
            <tr>
                <th>N° Facture</th>
                <th>Fruit</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td><a href="{{ path('achat_show', { 'id': achat.id }) }}">{{ achat.id }}</a></td>
                <td>{{ achat.fruit }}</td>
                <td>{{ achat.quantite }}</td>
                <td>{{ achat.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('achat_show', { 'id': achat.id }) }}">Voir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="center-block text-center">
        <li>
            <a href="{{ path('achat_new') }}" class="btn btn-default mybtn">Passer une nouvelle commande</a>
        </li>
    </ul>
{% endblock %}
