{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résumé de votre commande</h1>

    <table>
        <tbody>
            <tr>
                <th>N° Facture :</th>
                <td>{{ achat.id }}</td>
            </tr>
            <tr>
                <th>Fruit : </th>
                <td>{{ achat.fruit }}</td>
            </tr>
            <tr>
                <th>Quantité : </th>
                <td>{{ achat.quantite }}</td>
            </tr>
            <tr>
                <th>Total : </th>
                <td>{{ achat.total }} €</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('achat_index') }}" class="btn btn-default mybtn" >Retour à vos commandes</a>
        </li>
    </ul>
{% endblock %}
